<% if @likable.is_a?(Post) %>
  <%= turbo_frame_tag "post-#{@likable.id}-likes" do %>
    <%= render partial: "unlike_post", locals: { post: @likable } %>
  <% end %>
<% elsif @likable.is_a?(Comment) %>
  <%= turbo_frame_tag "comment-#{@likable.id}" do %>
    <%= render partial: "unlike_comment", locals: { comment: @likable } %>
    <div><%= @likable.likes.count %></div>
  <% end %>
<% end %>
