<div class="border-2 border-gray-300 w-1/3 p-2 m-2">
  <div>
    <%= post.user.username %>
  </div>
  <div class="h-80 my-2 bg-gray-300 flex justify-center items-center">
    <p class="text-xl"><%= post.body %></p>
  </div>
  <div class="flex justify-between w-full my-2">
    <div class="flex">
      <%= turbo_frame_tag "post-likes" do %>
        <% unless current_user.nil? %>
          <% if current_user.like?(post) %>
            <%= render partial: "likes/unlike_post", locals: { post: post } %>
          <% else %>
            <%= render partial: "likes/like_post", locals: { post: post } %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="flex">
      <p id="post-comments-count"><%= pluralize(post.comments.count, "comment") %></p>
    </div>
  </div>
  <div>
    <div id="comment-form">
      <%= render partial: "comments/form", locals: { post: post } %>
    </div>
    <div id="post-comments-list">
      <%= render partial: "comments/list", locals: { post: post } %>
    </div>
  </div>
</div>
